.Header {
  background: white;
  height: 50px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 10px rgba(221, 221, 221, 1);

  h2 {
    font-size: 15px;
    margin-left: 20px;
  }

  .From,
  .To,
  .Interval {

  }
}

.Directions {
  width: 250px;
}

.Button {
  background: red;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s linear;
  width: 150px;
  margin-right: 10px;

  &:hover {
    background: white;
    border-color: #ffffff;
    color: red;
    border-color: red;
  }
}
