@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background: #e9e9e9;
}

.App {
  text-align: center;
}

.Chart {
  height: 400px;
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
  background: white;
  box-shadow: 0 0 10px 10px rgba(221, 221, 221, 1);
  display: block;
  clear: both;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.HeaderInChart h2 {
  font-size: 24px;
  font-weight: bold;
}

.chart-container {
  flex: 1;
  height: 85%;
}

/*
  Адаптивность проверил в Toggle device toolbar
  */

.Pie {
  height: 400px;
  margin: 0 auto;
  margin-left: 95px;
  padding: 0 30px;
  width: 35%;
  background: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
